@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body, html {
  font-family: 'Monserrat';
  margin: 0;
}

body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .logo {
  color: black;
  font-weight: bold;
}

.menu-btn {
  width: 18px;
  float: right;
  cursor: pointer;
}

section {
  padding: 4em;
}

section center {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
}

section center::before {
  content: '';
  border-top: 5px solid red;
  display: block;
}

nav {
  position: absolute;
  background: black;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .close-btn {
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
  color: red;
}

nav span {
  color: red;
  font-weight: bold;
  font-size: 2em;
}

nav a {
  color: whitesmoke;
  display: block;
  font-size: .75em;
  font-weight: bold;
  margin-top: 30px;
  word-wrap: break-word;
}

nav li {
  opacity: 0;
}

.show-menu {
  display: block;
  color: pink;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

div {
  width: 200px;
  height: 200px;
  margin: 50px;
  background-color: green;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */